extends layout
block content
  //-create a css stylesheet with the right relative sizing data for each awoot

  style(type="text/css")
    each awoo, index in awooList
      if (awoo.colour)
        - var isSolidColour = awoo.colour.type == 'solid';
        - var isSpectrumColour = awoo.colour.type == 'spectrum';
        if (isSolidColour) 
          | #awootContent-#{index} {
          |   font-size: #{awoo.sizeEm}em;
          |   color: ##{awoo.colour.solidValue}
          | }
        else if (isSpectrumColour)
          - var colourStart = awoo.colour.spectrumValue.start;
          - var colourEnd = awoo.colour.spectrumValue.end;
          | #awootContent-#{index} {
          |   font-size: #{awoo.sizeEm}em; 
          |  
          =   "background-image: -webkit-linear-gradient(left, #" + colourStart + ", #" + colourEnd + ");"
          |  
          =   "background-image: linear-gradient(to right, #" + colourStart + ", #" + colourEnd + ");"
          |   color: transparent;
          |   -webkit-background-clip: text;
          |   background-clip: text;
          | }

  //-header
  h1#title-top awoo dot #[span.fantastic onLine]

  //-list of awoots
  div#awoot-list
    each awoo, index in awooList
      div(class="awoot" id="awoot-"+index)
        p(class="awoot-content")
          | #[strong #{awoo.fromUser}:] 
          span(id="awootContent-"+index) #{awoo.rendered} 
          | #[strong @#{awoo.toUser}]

  //-make awoot
      awootedAt: { type: Date, default: Date.now },
      fromUser: { type: String, default: "" },
      toUser: { type: String, default: "" },
      size: { type: Number, min: 6, max: 32, default: 12 },
      affix: { type: [String], default: [] },
      content: { type: String, match: /awo[o]+/, default: "awoo" },
      decoration: { type: String, default: "" },
      case: { type: String, enum: caseEnum , default: "smallcaps" },
      colour: { type: colourSchema }
  div#postAwoot
    span#previewWindow
      span#twootPreviewWindow awoo
      |  
    form#awootForm(onsubmit='return postTwoot()' oninput='previewTwoot()' onchange='previewTwoot()')
      div.awootFormContent
        div.formGroup
          input#toUser(type="text" name="toUser" placeholder="recipient" value="")
        div.formGroup
          input#affix(type="text" name="affix" placeholder="xX" value="")
        div.formGroup
          input#length(type="range" name="length" value="2" min="2" max="6" oninput="document.getElementById('lengthDisplay').value = document.getElementById('length').value")
          input#lengthDisplay(type="text" size="2")
        div.formGroup
          input#fontSize(type="range" name="fontSize" value="10" min="5" max="30" oninput="document.getElementById('fontSizeDisplay').value = document.getElementById('fontSize').value/10")
          input#fontSizeDisplay(type="text" size="2")
        div.formGroup
          input#decoration(type="text" name="decoration" placeholder="🐕" value="")
        div.formGroup
          input#style(type="radio" name="style" value="lowerCase" checked) 
          | lowercase
          input#style(type="radio" name="style" value="upperCase") 
          | UPPERCASE
          input#style(type="radio" name="style" value="titleCase") 
          | Titlecase
          input#style(type="radio" name="style" value="wiggleCase") 
          | wIgGlEcAsE
          input#style(type="radio" name="style" value="smallCaps") 
          | sᴍᴀʟʟᴄᴀᴘs
          input#style(type="radio" name="style" value="upsideDown") 
          | uʍopǝpᴉsdn
        div.formGroup
          input#isSpectrum(type="checkbox" name="isSpectrum" value="spectrum")
          | Spectrum? 
        div.formGroup
          input#colour1(type="color" name="start" value="#FFDCFC")
          input#colour2(type="color" name="end" value="#C8FFEF")
        div.formGroup
          input#submit(type="submit" value="Post")
          | Post
  | 
  script.
    $ = function(str) {
      return document.getElementById(str);
    }
    //linear-gradient(to right, rgb(255, 220, 252), rgb(200, 255, 239))
    previewTwoot = function() {
      var awoo = {}
      awoo.toUser = $("toUser").value;
      awoo.affix = Array.from($("affix").value);
      awoo.content = "aw"+"o".repeat($("length").value);
      awoo.fontSize = $("fontSize").value*10;
      awoo.decoration = $("decoration").value;
      awoo.case = document.querySelector('input[name = "style"]:checked').value;
      var isSpectrum = $("isSpectrum").checked;
      var colour1 = $("colour1").value;
      var colour2 = $("colour2").value;
      awooRendered = renderAwoo(awoo);
      document.getElementById("previewWindow").childNodes[1].data = " @"+awoo.toUser;
      $("twootPreviewWindow").textContent = awooRendered;
      $("twootPreviewWindow").style.fontSize = awoo.fontSize+"%";
      if (!isSpectrum) {
        $("twootPreviewWindow").style.color=colour1;
        $("twootPreviewWindow").style.backgroundImage="";
        $("twootPreviewWindow").style.webkitBackgroundClip="";
      }
      else {
        r1 = parseInt("0x"+colour1.substr(1,2));
        g1 = parseInt("0x"+colour1.substr(3,2));
        b1 = parseInt("0x"+colour1.substr(5,2));
        r2 = parseInt("0x"+colour2.substr(1,2));
        g2 = parseInt("0x"+colour2.substr(3,2));
        b2 = parseInt("0x"+colour2.substr(5,2));
        $("twootPreviewWindow").style.color="transparent";
        $("twootPreviewWindow").style.backgroundImage="linear-gradient(to right, rgb(" + r1 + ", " + g1 + ", " + b1 +"),rgb(" + r2 + ", " + g2 + ", " + b2 +"))";
        $("twootPreviewWindow").style.webkitBackgroundClip="text";
      }
    }

    //Converts an awoo to the specified case - lowerCase, upperCase, titleCase, inverseTitleCase, wiggleCase, smallCaps, upsideDown - and then decorates it with the prefix and suffix and decoration emoji. 
    renderAwoo = function (awoo) {
        var awooText = awoo.content;
        switch (awoo.case) {
            case 'lowerCase':
                awooText = awooText.toLowerCase();
                break;
            case 'upperCase': 
                awooText = awooText.toUpperCase();
                break;
            case 'titleCase':
                awooText = awooText.toLowerCase();
                firstLetter = awooText.substr(0,1).toUpperCase();
                awooText = firstLetter + awooText.substr(1);
                break;
            case 'inverseTitleCase':
                awooText = awooText.toUpperCase();
                firstLetter = awooText.substr(0,1).toLowerCase;
                awooText = firstLetter + awooText.substr(1);
                break;
            case 'wiggleCase': 
                length = awooText.length;
                newText = "";
                for ( i = 0; i < length; i++) {
                    if (i % 2 == 0) {
                        newText = newText + awooText.charAt(i).toLowerCase();
                    } else {
                        newText = newText + awooText.charAt(i).toUpperCase();
                    }
                }
                awooText = newText;
                break;
            case 'smallCaps':
                var smallCaps = 'ᴀʙᴄᴅᴇꜰɢʜɪᴊᴋʟᴍɴᴏᴘǫʀsᴛᴜᴠᴡxʏᴢ';
                isAwoo = (awooText.toLowerCase().substr(0,2) == 'aw');
                if (isAwoo) {
                    awooLength = awooText.length;
                    awooText = 'ᴀᴡ'+'ᴏ'.repeat(awooLength-2);
                }
                break;
            case 'upsideDown': 
                var upsideDown = 'ɐqɔpǝⅎƃɥᴉɾʞʅɯuoddɹsʇnʌʍxʎz';
                isAwoo = (awooText.toLowerCase().substr(0,2) == 'aw');
                if (isAwoo) {
                    awooLength = awooText.length;
                    awooText = 'o'.repeat(awooLength-2) + 'ʍɐ';
                }
                break; 
        }
        var prefix = awoo.affix.join('');
        var suffix = awoo.affix.reverse().join('');
        var decoration = awoo.decoration;
        var awoot = prefix + awooText + suffix + decoration;
        return awoot;
    }

    postTwoot = function (event) {
      var awoo = {};
      awoo.toUser = $("toUser").value;
      awoo.affix = Array.from($("affix").value);
      awoo.content = "aw"+"o".repeat($("length").value);
      awoo.fontSize = $("fontSize").value*10;
      awoo.decoration = $("decoration").value;
      awoo.case = document.querySelector('input[name = "style"]:checked').value;
           var isSpectrum = $("isSpectrum").checked;
      var colour1 = $("colour1").value;
      var colour2 = $("colour2").value;
      if (isSpectrum) {
        awoo.colour = {
          type: "spectrum",
          spectrumValue: {
            start: colour1,
            end: colour2
          }
        };
      } else {
        awoo.colour = {
          type: "solid",
          solidValue: colour1
        };
      }

      fetch('/api/awoots', {
          method: 'post',
          headers: {
              "Content-Type": "application/json"
          },
          body: JSON.stringify(awoo)
      })
      .then(function(res) {
          return res.json();
      })
      .then(function(data) {
          console.log(data);
      }).catch(function(error) {
          console.log(error);
      });
      return false;
    }



